/*基础样式*/


/*zhanging upload 2018-02-7*/

body,
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "微软雅黑", "sans-serif";
	font-size: 14px;
	line-height: 1;
}

ul,
li {
	list-style: none;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

img,
hr,
legend {
	border: 0;
}

a,
input,
select {
	outline: none;
	background: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: none;
}

label {
	font-weight: normal;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w1200 {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.w300 {
	width: 300px;
}

.w560 {
	width: 560px;
}

.w242 {
	width: 242px;
}

.w33 {
	width: 33.33%;
}

.w50 {
	width: 50%;
}

.h375 {
	height: 375px;
}

.h270 {
	height: 270px;
}

.ft18 {
	font-size: 18px;
}

.ml10 {
	margin-left: 10px;
}

.ml5 {
	margin-left: 5px;
}

.mt60 {
	margin-top: 60px;
}

.mt80 {
	margin-top: 80px;
}

.mt40 {
	margin-top: 40px;
}

.mt50 {
	margin-top: 50px;
}

.mt15 {
	margin-top: 15px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt20 {
	margin-top: 20px;
}

.mt10 {
	margin-top: 10px;
}

.ml20 {
	margin-left: 20px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mr5 {
	margin-right: 5px;
}

.ml30 {
	margin-left: 30px;
}

.mt5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: -10px;
}

.pb5 {
	padding-bottom: 5px;
}

.ft60 {
	font-size: 60px;
}

.ft16 {
	font-size: 16px;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/*flex 布局*/

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/*垂直显示*/

.flex-v {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden
}

/*垂直对其方式*/

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/*左右居中*/

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*两端对齐*/

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.c-green {
	color: #40ad34;
}

.c-red {
	color: #d02727;
}

/* 头部 */
.header {
	position: relative;
	z-index: 9999;
	background: #fff;
}

.header .topnav {
	padding: 30px 0;
}

.header .topnav .searchbar .searchbox {
	height: 36px;
	width: 276px;
	border-radius: 50px;
	border: 1px solid #dcdcdc;
	padding: 0 18px;
	float: left;
}

.header .topnav .searchbar .searchbox input {
	height: 34px;
	border: none;
	background: none;

}

.header .topnav .searchbar .searchbox .search-btn {
	display: block;
	height: 100%;
	width: 18px;
	background: url(../img/search.png) no-repeat center center;
}

.header .topnav .searchbar .login-btn,
.userinfo .login-btn {
	height: 36px;
	width: 96px;
	border-radius: 50px;
	color: #fff;
	line-height: 36px;
	text-align: center;
	float: left;
	background: #35b4d9;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}

.header .topnav .searchbar .login-btn:after,
.userinfo .login-btn:after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .2);
	opacity: 0;
}

.header .topnav .searchbar .login-btn:hover:after,
.userinfo .login-btn:hover:after {
	opacity: 1;
}

.header .topnav .searchbar .login-btn.hy-login-btn,
.userinfo .login-btn.hy-login-btn {
	background: #40ad34;
}

.header .nav {
	height: 50px;
	line-height: 50px;
	background: #0c9ec8;
}

.header .nav>ul>li {
	float: left;
	width: 11.111%;
	position: relative;
}

.header .nav>ul>li>a {
	color: #fff;
	font-size: 18px;
	display: block;
	text-align: center;
}

.header .nav>ul>li.active>a,
.header .nav>ul>li:hover>a {
	background: #0989ad;
}

.header .nav>ul>li .subnav {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 12px;
	display: none;
}

.header .nav>ul>li .subnav li a {
	background: #0c9ec8;
	display: block;
	color: #fff;
}

.header .nav>ul>li .subnav li a:hover,
.header .nav>ul>li .subnav li a.active {
	background: #13aeda;
}

.banner .swiper-container .swiper-slide img {
	display: block;
	width: 100%;
}

.banner .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #fff;
	opacity: 1;
}

.banner .swiper-pagination-bullet-active {
	background: #5db737;
}

.banner .swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 20px;
}

.modbox {
	border: 1px solid #e4e7ec;
}

.modbox .modbox-hd {
	height: 41px;
	border-bottom: 1px solid #e4e7ec;
	line-height: 40px;
	font-size: 16px;
	color: #333;
	padding: 0 15px 0 20px;
	background: #eff2f7;
}

.modbox .modbox-hd.blue-modbox-hd {
	background: #0c9ec8;
	color: #fff;
}

.modbox .modbox-hd .more {
	color: #999;
	font-size: 12px;

}

.modbox .modbox-hd.blue-modbox-hd .more {
	color: #fff;
}

.modbox .modbox-hd .tab-link {
	margin-left: -20px;
}

.modbox .modbox-hd .tab-link a {
	display: block;
	line-height: 40px;
	height: 40px;
	color: #333;
	border-bottom: 3px solid transparent;
	float: left;
	padding: 0 30px;
}

.modbox .modbox-hd .tab-link a.active {
	border-color: #0c9ec8;
	background: #fff;
}

.modbox .modbox-bd {
	padding: 20px 20px 10px;
}

.modbox .modbox-bd .imgbox img {
	display: block;
	width: 100%;
}

/* .modbox .modbox-bd .viewlist li+li {
	margin-top: 20px;
} */

.modbox .modbox-bd .viewlist a {
	color: #333;
	display: block;
	position: relative;
	line-height: 34px;
}

.modbox .modbox-bd .viewlist a span {
	display: block;
	width: 100%;
	padding-left: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}

.modbox .modbox-bd .viewlist a i {
	height: 14px;
	width: 14px;
	background: url(../img/icon.png) no-repeat center center;
	margin-right: 8px;
	position: absolute;
	left: 0;
	top: 10px;
}

.modbox .modbox-bd .viewlist a:hover {
	color: #0c9ec8;
}

.modbox .modbox-bd .viewlist a:hover i {
	background-image: url(../img/icon2.png);
}

.ad,
.ad img {
	display: block;
}

.footer {
	background: #0790b7;
	color: #d8eef4;
	font-size: 12px;
	padding-top: 60px;
	padding-bottom: 20px;
}

.footer .linklist dt {
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}

.footer .linklist dd+dd {
	margin-top: 10px;
}

.footer .linklist a {
	color: #d8eef4;
}

.footer .linklist a:hover {
	color: #fff;
}

.footer .linklist dl {
	border-right: 1px solid rgba(255, 255, 255, .3);
	width: 16.66%;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	height: 230px;
}

.footer .copyright {
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, .3);
	padding-top: 25px;
}

.footer .imgbox {
	width: 320px;
	margin-left: 55px;
}

.footer .imgbox img {
	display: block;
	margin: 0 auto;
}

.footer .imgbox>.qrbox>div {
	float: right;
	text-align: center;
}

.footer .imgbox>.qrbox>div:first-child {
	float: left;
	margin-right: 100px;
	
}

.footer .imgbox>.qrbox>div p {
	margin-top: 15px;
}

.footer .imgbox .tel {
	color: #fff;
	font-size: 26px;
	text-align: center;
	position: relative;
	width: 290px;
	margin: 20px auto;
}

.footer .imgbox .tel:before,
.footer .imgbox .tel:after {
	content: '';
	height: 43px;
	width: 43px;
	display: block;
	border: 1px solid transparent;
	border-bottom-color: rgba(255, 255, 255, .3);
	position: absolute;
	bottom: 10px;
}

.footer .imgbox .tel:before {
	
	left: 0;
	border-left-color: rgba(255, 255, 255, .3);
}

.footer .imgbox .tel:after {
	border-right-color: rgba(255, 255, 255, .3);
	right: 0;
}
