.xh-introduce {
	line-height: 28px;
	color: #333;
	line-height: 28px;
	position: relative;
	padding-bottom: 40px;
}

.xh-introduce p {
	text-indent: 2em;
}

.xh-introduce .details {
	position: absolute;
	right: 0;
	color: #999;
	bottom: 0;
}

.modbox .modbox-bd .newlist.viewlist {
	padding-bottom: 3px;
}

.newlist.viewlist li {
	float: left;
	width: 50%;
	padding-right: 60px;
}

/* .modbox .modbox-bd .newlist.viewlist li+li {
	margin-top: 0;
}

.modbox .modbox-bd .newlist.viewlist li:nth-child(n+3) {
	margin-top: 20px;
} */

.modbox .modbox-bd .newitem {
	height: 120px;
}

.modbox .modbox-bd .newitem .imgbox {
	display: block;
	width: 190px;
	height: 120px;
}

.modbox .modbox-bd .newitem .title {
	color: #333;
	font-size: 18px;
}

.modbox .modbox-bd .newitem p {
	line-height: 26px;
	color: #666;
	text-indent: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.fcimglist {
	padding: 0 40px;
	position: relative;
}

.fcimglist .swiper-button-next,
.fcimglist .swiper-button-prev {
	width: 30px;
	background-size: 14px auto;

}

.fcimglist .swiper-button-next {
	background-image: url(../img/arrowright.png);
	right: 0;
}

.fcimglist .swiper-button-next:hover {
	background-image: url(../img/arrowright2.png);
	right: 0;
}
.fcimglist .swiper-button-prev {
	background-image: url(../img/arrowleft.png);
	left: 0;
}
.fcimglist .swiper-button-prev:hover{
	background-image: url(../img/arrowleft2.png);
	left: 0;
}

.fcimglist .swiper-button-next.swiper-button-disabled,
.fcimglist .swiper-button-prev.swiper-button-disabled {
	opacity: 1;
}

.fcimglist .swiper-button-next.swiper-button-disabled {
	background-image: url(../img/arrowright.png);
}

.fcimglist .swiper-button-prev.swiper-button-disabled {
	background-image: url(../img/arrowleft.png);
}

.fcimglist p {
	text-align: center;
	color: #333;
	padding-top: 20px;
}

.loginbox ,.userinfo{
	height: 265px;
	background: #fafafa;
}

.loginbox .tab-link {
	height: 42px;
}

.loginbox .tab-link a {
	float: left;
	width: 50%;
	text-align: center;
	line-height: 42px;
	background: #eff2f7;
	color: #333;
	font-size: 16px;
}

.loginbox .tab-link a.active {
	color: #fff;
	background: #0c9ec8;
}

.loginbox .tab-panel {
	padding: 20px;
	
	font-size: 12px;
	color: #999;
}

.loginbox .tab-panel .input-row {
	border: 1px solid #e4e7ec;
	height: 36px;
	font-size: 14px;
}

.loginbox .tab-panel .input-row i {
	display: block;
	width: 36px;
	height: 100%;
	background: no-repeat center center;
}

.loginbox .tab-panel .input-row i.user {
	background-image: url(../img/user.png);
}

.loginbox .tab-panel .input-row i.pwd {
	background-image: url(../img/pwd.png);
}

.loginbox .tab-panel .input-row input {
	border: none;
	background: none;
	line-height: 34px;
}

.loginbox .tab-panel .forgetpwd {
	padding: 10px 0;

}

.loginbox .tab-panel .forgetpwd input,
.loginbox .tab-panel .forgetpwd span {
	display: inline-block;
	vertical-align: middle;
}

.loginbox .tab-panel .link {
	color: #de111f;
}

.loginbox .tab-panel input[type=submit] {
	display: block;
	border: none;
	background: #de111f;
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.userinfo{
	text-align: center;
	font-size: 13px;
	color: #666;
	padding-top: 30px;
}
.userinfo .company{
	color: #333;
}
.userinfo .avatar{
	border: 2px solid #fff;
	overflow: hidden;
	height: 78px;
	width: 78px;
	border-radius: 100%;
	margin: 0 auto 17px;
}
.userinfo .avatar img{
	display: block;
	width: 100%;
}
.userinfo  .btnlist{
	text-align: center;
	margin-top: 15px;
}
.userinfo .login-btn{
	margin-left: 0;
	display: inline-block;
	float:none;
}
.userinfo .login-btn+.login-btn{
	margin-left: 20px;
}
.download img {
	display: block;
	width: 100%;
	margin-top: 15px;
}

/* 专家 */
.expertbox .modbox-hd span {
	width: 126px;
	display: block;
	margin-left: -20px;
	background: #0c9ec8;
	color: #fff;
	text-align: center;
}

.expertbox .modbox-bd {
	margin-right: -20px;
	color: #333;
	margin-bottom:0;
	padding-bottom: 0;

}

.expertbox.modbox {
	border: none;


}

.expertbox.modbox .expertInfo .name {
	font-size: 24px;
	padding-top: 30px;
	margin-bottom: 20px;
}

.expertbox.modbox .expertInfo p {
	line-height: 36px;
	text-indent: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.expertbox.modbox .imgbox {
	margin-left: 65px;
}

.expertbox.modbox .show {
	float: right;
	width: 118px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50px;
	color: #fff;
	background: #0c9ec8;
}

.expertbox.modbox .show img,
.expertbox.modbox .show span {
	display: inline-block;
	vertical-align: middle;
}

.expertlist .expert-item {
	background: #f2f4f6;
	height: 140px;
	padding: 20px;
}

.expertlist .expert-item .name {
	font-size: 16px;
	color: #333;
}

.expertlist .expert-item p {
	color: #666;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.expertlist .expert-item .imgbox {
	width: 83px;
	margin-left: 15px;
}

.expertlist .expert-item+.expert-item {
	margin-left: 20px;
}

.consultantlist .swiper-container-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: linear;
	/*之前是ease-out*/
	-moz-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
	margin: 0 auto;
}

.consultantlist .swiper-slide .imgbox{
	height: 193px;
	position: relative;
}
.consultantlist .swiper-slide .imgbox img{
	height: 100%;
	width: 100%;
}
.consultantlist .swiper-slide .imgbox .mask{
	position: absolute;
	background: rgba(0,0,0,.7);
	color: #fff;
	font-size: 13px;
	line-height: 193px;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
transition: all .3s;
-webkit-transition: all .3s;
}
.consultantlist .swiper-slide a:hover .imgbox .mask{
	opacity: 1;
}
.consultantlist .swiper-slide p{
	text-align: center;
	color: #333;padding: 15px 0 10px;
}
.friendlink a{
	padding: 10px 0;
	color: #333;
	display: inline-block;
}
.friendlink span{
	margin: 0 20px;color: #333;
	padding: 10px 0;
}
