body {
	background: #f6f6f6;
}

.page {
	padding-top: 50px;
}

.page>.title {
	color: #0c9ec8;
	font-size: 30px;
	text-align: center;
}

.page>.subtitle {
	margin-top: 20px;
	color: #999;
	font-size: 16px;
	text-align: center;
	position: relative;
	font-family: 'Arial';
}

.page >.subtitle:after {
	content: '';
	height: 2px;
	display: block;
	margin: 30px auto 0;
	width: 36px;
	background: #ccc;
}

.page .menu {
	text-align: center;
}

.page .menu a {
	height: 42px;
	width: 146px;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #333;
}

.page .menu a+a {
	margin-left: 40px;
}

.page .menu a:hover,
.page .menu a.active {
	background: #0c9ec8;
	border-color: #0c9ec8;
	color: #fff;
}

.page .introduce-txt {
	color: #333;
	line-height: 48px;
	padding-bottom: 100px;
}

.page .introduce-txt p {
	text-indent: 2em;

}

.page .rule-txt {
	background: #fff;
	color: #333;
	padding: 75px 40px;
}

.page .rule-txt h4 {
	font-size: 16px;
}

.page .rule-txt>div {
	margin-top: 30px;
}

.page .rule-txt p {
	line-height: 26px;
}

.page .pagination {
	text-align: center;
}

.page .pagination a {
	display: inline-block;
	border: 1px solid #d4d4d4;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	vertical-align: middle;
	background: no-repeat center center;
	color: #666;
	line-height: 48px;
}

.page .pagination a.prev {
	background-image: url(../img/arrowleft3.png);
}

.page .pagination a.next {
	background-image: url(../img/arrowright3.png);
}

.page .pagination span {
	color: #333;
	
}

/* 入会指南 */
.page .addAssociation-txt {
	background: #fff;
	padding: 60px 40px;
	line-height: 26px;
}

.page .addAssociation-txt p+p {
	margin-top: 30px;
}

.page .userlist .user-item {
	float: right;
	background: #fff;
	width: 580px;
	padding: 20px;
	border: 1px solid #fff;
	color: #333;
	margin-bottom: 30px;
}

.page .userlist .user-item:hover {
	border-color: #1aaed9;
}

.page .userlist .user-item:nth-child(odd) {
	float: left;
}

.page .userlist .user-item .imgbox {
	width: 186px;
	height: 240px;
	margin-right: 30px;
}

.page .userlist .user-item .imgbox img {
	display: block;
	width: 100%;
}

.page .userlist .user-item .name {
	font-size: 24px;

}

.page .userlist .user-item .info {
	text-indent: 2em;
	line-height: 28px;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.page .userlist .user-item .show {
	width: 118px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50px;
	color: #fff;
	background: #d8d8d8;
	display: block;
	margin-top: 20px;
}

.page .userlist .user-item:hover .show {
	background: #0c9ec8;
}
 .bread{
	color: #666;
	line-height: 60px;
}
 .bread a{
	 color: #666;
 }
.userDetails{
	background: #fff;
	padding: 40px 30px;
	line-height: 36px;
	color: #333;
}
.userDetails>img{
	display: block;
	margin: 0 auto;
}.userDetails p{text-indent: 2em;}.userDetails .title{
	font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
}
.articlepage{
	color: #999;
	text-align: center;
	padding: 30px 0;
}.articlepage a{
	color: #999;
}.articlepage a+a{
	margin-left: 50px;
}
.newslist .newsitem{
	width: 580px;
	float: right;
	background: #fff;
	padding: 30px 20px;
	border: 2px solid transparent;
	margin-bottom: 30px;
}
.newslist .newsitem:hover{
	border-bottom-color: #0c9ec8;
}
.newslist .newsitem:nth-child(odd){
	float: left;
}
.newslist .newsitem .time{
	background: #dadada;
	color: #666;
	height: 98px;
	width: 100px;
	padding-left: 20px;
	padding-top: 30px;
	margin-right: 20px;
}
.newslist .newsitem .time p:first-child{
	font-size: 22px;
	margin-bottom: 5px;
	
}
.newslist .newsitem  .title{
	font-size: 16px;
	color: #333;
}
.newslist .newsitem  .title+ p{
	color: #666;
	line-height: 26px;
	text-indent: 2em;
	margin-top: 10px;
}

.newsdetails{
	background: #fff;
	padding: 40px 60px;
}
.newsdetails>.title{
	text-align: center;
	font-size: 18px;
	color: #333;
}.newsdetails>.time{
	font-size: 12px;
	color: #999;
	margin-top: 15px;
	text-align: center;
}
.newsdetails p{
	line-height: 28px;
	color: #666;
	margin-top: 40px;
	text-indent: 2em;
}
.newsdetails img{
	display: block;
	margin: 45px auto;
}